.container {
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 10px;      
    height: 100vh;
    background-color: lightgray;
}

.box {
    background-color: teal;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
}